# Pandas vs Polars vs Spark vs Dask
[Author: Elias Buitrago Bolivar](https://github.com/ebuitrago?tab=repositories)

Inspired in: https://www.youtube.com/watch?v=mi9f9zOaqM8

Original data: Kaggle

This jupyter notebook is designed to study and compare different tools to read and manipulate data; to be used in the data undertanding phase. The corresponding explanations will be given directly in class, therefore the material isn't autoexplained. DonÂ´t forget ask me for the access to the data. And, please, give credits to the original author's idea and, if consider, also to me.

_Updated: June 20th, 2023_

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Playing with pandas

In [ ]:
import pandas as pd
flights_file1 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2018.parquet"
flights_file2 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2019.parquet"
flights_fille3 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2020.parquet"
flights_file4 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2022.parquet"
df1 = pd.read_parquet(flights_file1)
df2 = pd.read_parquet(flights_file2)
# df3 = pd.read_parquet(flights_file3)
# df4 = pd.read_parquet(flights_file4)
df5 = pd.read_parquet(flights_file5)

In [ ]:
df = pd.concat([df2, df5])
# df = df2

In [ ]:
%%timeit

df_agg = df.groupby(['Airline','Year'])[["DepDelayMinutes", "ArrDelayMinutes"]].agg(
    ["mean", "sum", "max"]
)
df_agg = df_agg.reset_index()
df_agg.to_parquet("temp_pandas.parquet")

In [ ]:
!ls -GFlash temp_pandas.parquet

12K -rw-r--r-- 1 root 9.1K Jun 19 20:06 temp_pandas.parquet

In [ ]:
pd.read_parquet('temp_pandas.parquet')

                                      Airline  Year DepDelayMinutes  \
                                                               mean
0                 Air Wisconsin Airlines Corp  2019       16.868511
1                        Alaska Airlines Inc.  2019        9.836041
2                               Allegiant Air  2019       14.678433
3                      American Airlines Inc.  2019       14.895515
4                 Capital Cargo International  2019       11.525332
5                                 Comair Inc.  2019       14.427466
6   Commutair Aka Champlain Enterprises, Inc.  2019       30.572619
7                            Compass Airlines  2019       14.630234
8                        Delta Air Lines Inc.  2019       10.856695
9                        Empire Airlines Inc.  2019        8.287515
10                          Endeavor Air Inc.  2019       14.395421
11                                  Envoy Air  2019       13.117923
12                   ExpressJet Airlines Inc.  2019       21.653172
13                     Frontier Airlines Inc.  2019       18.826018
14   GoJet Airlines, LLC d/b/a United Express  2019       21.314252
15                     Hawaiian Airlines Inc.  2019        5.036265
16                                Horizon Air  2019        7.615291
17                            JetBlue Airways  2019       21.854736
18                         Mesa Airlines Inc.  2019       17.443382
19                     Peninsula Airways Inc.  2019       27.830157
20                          Republic Airlines  2019       12.832237
21                      SkyWest Airlines Inc.  2019       16.416314
22                     Southwest Airlines Co.  2019       11.793784
23                           Spirit Air Lines  2019       14.221530
24                      Trans States Airlines  2019       24.023597
25                      United Air Lines Inc.  2019       16.467488

                       ArrDelayMinutes
           sum     max            mean         sum     max
0    1742281.0  1690.0       17.610384   1811545.0  1707.0
1    2576246.0  1117.0       10.787284   2815643.0  1087.0
2    1536876.0  1979.0       15.556524   1624770.0  1966.0
3   13814816.0  2315.0       15.251863  14096412.0  2350.0
4    1367642.0  1182.0       12.489465   1474806.0  1190.0
5    4081732.0  1844.0       14.578732   4106304.0  1842.0
6    1683787.0  1388.0       31.969338   1750577.0  1420.0
7    1369068.0  1767.0       15.090585   1409853.0  1752.0
8   10750245.0  1266.0       10.786294  10657128.0  1304.0
9      71024.0   546.0        9.082982     77496.0   540.0
10   3645482.0  1506.0       14.636930   3695576.0  1511.0
11   4149527.0  2672.0       14.720387   4633389.0  2649.0
12   2787651.0  1839.0       23.432743   3004312.0  1844.0
13   2511259.0  1022.0       18.400065   2448331.0  1020.0
14   1653922.0  2976.0       21.517977   1664975.0  2973.0
15    421898.0  1536.0        5.938021    496947.0  1507.0
16    910370.0   575.0        8.499155   1010847.0   566.0
17   6420069.0  1769.0       21.414981   6268679.0  1756.0
18   3863308.0  2209.0       18.119389   3997880.0  2206.0
19     33591.0   298.0       29.105983     34054.0   313.0
20   4136433.0  1436.0       14.326528   4599890.0  1449.0
21  13463873.0  2710.0       16.764599  13684154.0  2695.0
22  15692786.0   804.0       10.182261  13517583.0   809.0
23   2864074.0  1434.0       14.108004   2834171.0  1429.0
24   1756197.0  1840.0       25.601927   1860492.0  1865.0
25  10222473.0  1525.0       17.102921  10581697.0  1523.0

In [ ]:
pd.read_parquet('temp_pandas.parquet').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   (Airline, )              26 non-null     object
 1   (Year, )                 26 non-null     int64
 2   (DepDelayMinutes, mean)  26 non-null     float64
 3   (DepDelayMinutes, sum)   26 non-null     float64
 4   (DepDelayMinutes, max)   26 non-null     float64
 5   (ArrDelayMinutes, mean)  26 non-null     float64
 6   (ArrDelayMinutes, sum)   26 non-null     float64
 7   (ArrDelayMinutes, max)   26 non-null     float64
dtypes: float64(6), int64(1), object(1)
memory usage: 1.8+ KB

## Playing with Polars

In [ ]:
import polars as pl

In [ ]:
flights_file1 = "/content/drive/MyDrive/data/flights/Combined_Flights_2018.parquet"
flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"
df1 = pl.scan_parquet(flights_file1)
df2 = pl.scan_parquet(flights_file2)
df3 = pl.scan_parquet(flights_file3)
df4 = pl.scan_parquet(flights_file4)
df5 = pl.scan_parquet(flights_file5)

In [ ]:
 %%timeit

df_polars = (
    pl.concat([df1, df2, df3, df4, df5])
    .groupby(['Airline', 'Year'])
    .agg([
        pl.col("DepDelayMinutes").mean().alias("avg_dep_delay"),
        pl.col("DepDelayMinutes").sum().alias("sum_dep_delay"),
        pl.col("DepDelayMinutes").max().alias("max_dep_delay"),
        pl.col("ArrDelayMinutes").mean().alias("avg_arr_delay"),
        pl.col("ArrDelayMinutes").sum().alias("sum_arr_delay"),
        pl.col("ArrDelayMinutes").max().alias("max_arr_delay"),
      ])
).collect()

df_polars.write_parquet('temp_polars.parquet')

6.19 s Â± 634 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [ ]:
!ls -GFlash temp_polars.parquet

8.0K -rw-r--r-- 1 root 6.4K Jun 19 20:07 temp_polars.parquet

## Playing with PySpark

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     âââââââââââââââââââââââââââââââââââââââ 310.8/310.8 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=ba9ec23f7a096d2d5a7f29e6ba3fae3b6ecb9948c95145d0ad59d9da371e88fe
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, max, sum, concat

In [ ]:
spark = SparkSession.builder.master("local[1]").appName("airline-example").getOrCreate()

In [ ]:
flights_file1 = "/content/drive/MyDrive/data/flights/Combined_Flights_2018.parquet"
flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"

In [ ]:
df_spark1 = spark.read.parquet(flights_file1)
df_spark2 = spark.read.parquet(flights_file2)
df_spark3 = spark.read.parquet(flights_file3)
df_spark4 = spark.read.parquet(flights_file4)
df_spark5 = spark.read.parquet(flights_file5)

In [ ]:
df_spark = df_spark1.union(df_spark2)
df_spark = df_spark.union(df_spark3)
df_spark = df_spark.union(df_spark4)
df_spark = df_spark.union(df_spark5)

In [ ]:
 %%timeit

df_spark_agg = df_spark.groupby("Airline", "Year").agg(
    avg("ArrDelayMinutes").alias('avg_arr_delay'),
    sum("ArrDelayMinutes").alias('sum_arr_delay'),
    max("ArrDelayMinutes").alias('max_arr_delay'),
    avg("DepDelayMinutes").alias('avg_dep_delay'),
    sum("DepDelayMinutes").alias('sum_dep_delay'),
    max("DepDelayMinutes").alias('max_dep_delay'),
)
df_spark_agg.write.mode('overwrite').parquet('temp_spark.parquet')

5.86 s Â± 785 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [ ]:
!ls -GFlash temp_pyspark.parquet

total 24K
4.0K drwxr-xr-x 2 root 4.0K Jun 19 19:50 ./
4.0K drwxr-xr-x 1 root 4.0K Jun 19 20:08 ../
8.0K -rw-r--r-- 1 root 7.5K Jun 19 19:50 part-00000-d120adcf-cbd9-4950-a0e9-617fa7ca2c45-c000.snappy.parquet
4.0K -rw-r--r-- 1 root   68 Jun 19 19:50 .part-00000-d120adcf-cbd9-4950-a0e9-617fa7ca2c45-c000.snappy.parquet.crc
   0 -rw-r--r-- 1 root    0 Jun 19 19:50 _SUCCESS
4.0K -rw-r--r-- 1 root    8 Jun 19 19:50 ._SUCCESS.crc

## Playing with dask

In [ ]:
import pandas as pd
import dask.dataframe as dd
flights_file1 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2018.parquet"
flights_file2 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2020.parquet"
flights_file4 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/Seminario/flights/Combined_Flights_2022.parquet"
df1 = dd.read_parquet(flights_file1)
df2 = dd.read_parquet(flights_file2)
df3 = dd.read_parquet(flights_file3)
df4 = dd.read_parquet(flights_file4)
df5 = dd.read_parquet(flights_file5)

In [ ]:
df = dd.concat([df3, df5])

In [ ]:
print(df.compute())

       FlightDate            Airline Origin Dest  Cancelled  Diverted  \
0      2020-09-01        Comair Inc.    PHL  DAY      False     False
1      2020-09-02        Comair Inc.    PHL  DAY      False     False
2      2020-09-03        Comair Inc.    PHL  DAY      False     False
3      2020-09-04        Comair Inc.    PHL  DAY      False     False
4      2020-09-05        Comair Inc.    PHL  DAY      False     False
...           ...                ...    ...  ...        ...       ...
590537 2022-03-31  Republic Airlines    MSY  EWR      False      True
590538 2022-03-17  Republic Airlines    CLT  EWR       True     False
590539 2022-03-08  Republic Airlines    ALB  ORD      False     False
590540 2022-03-25  Republic Airlines    EWR  PIT      False      True
590541 2022-03-07  Republic Airlines    EWR  RDU      False      True

        CRSDepTime  DepTime  DepDelayMinutes  DepDelay  ...  WheelsOff  \
0             1905   1858.0              0.0      -7.0  ...     1914.0
1             1905   1858.0              0.0      -7.0  ...     1914.0
2             1905   1855.0              0.0     -10.0  ...     2000.0
3             1905   1857.0              0.0      -8.0  ...     1910.0
4             1905   1856.0              0.0      -9.0  ...     1910.0
...            ...      ...              ...       ...  ...        ...
590537        1949   2014.0             25.0      25.0  ...     2031.0
590538        1733   1817.0             44.0      44.0  ...        NaN
590539        1700   2318.0            378.0     378.0  ...     2337.0
590540        2129   2322.0            113.0     113.0  ...     2347.0
590541        1154   1148.0              0.0      -6.0  ...     1201.0

        WheelsOn  TaxiIn  CRSArrTime  ArrDelay  ArrDel15  ArrivalDelayGroups  \
0         2030.0     4.0        2056     -22.0       0.0                -2.0
1         2022.0     5.0        2056     -29.0       0.0                -2.0
2         2117.0     5.0        2056      26.0       1.0                 1.0
3         2023.0     4.0        2056     -29.0       0.0                -2.0
4         2022.0     4.0        2056     -30.0       0.0                -2.0
...          ...     ...         ...       ...       ...                 ...
590537     202.0    32.0        2354       NaN       NaN                 NaN
590538       NaN     NaN        1942       NaN       NaN                 NaN
590539      52.0     7.0        1838     381.0       1.0                12.0
590540     933.0     6.0        2255       NaN       NaN                 NaN
590541    1552.0     4.0        1333       NaN       NaN                 NaN

        ArrTimeBlk  DistanceGroup  DivAirportLandings
0        2000-2059              2                 0.0
1        2000-2059              2                 0.0
2        2000-2059              2                 0.0
3        2000-2059              2                 0.0
4        2000-2059              2                 0.0
...            ...            ...                 ...
590537   2300-2359              5                 1.0
590538   1900-1959              3                 0.0
590539   1800-1859              3                 0.0
590540   2200-2259              2                 1.0
590541   1300-1359              2                 1.0

[9100715 rows x 61 columns]

In [ ]:
df = df.compute()

In [ ]:
%%timeit

df_agg = df.groupby(['Airline','Year'])[["DepDelayMinutes", "ArrDelayMinutes"]].agg(
    ["mean", "sum", "max"]
)
df_agg = df_agg.reset_index()
df_agg.to_parquet("temp_dask.parquet")

In [ ]:
!ls -GFlash temp_pandas.parquet

In [ ]:
pd.read_parquet('temp_dask.parquet').info()

In [ ]:
pd.read_parquet('temp_dask.parquet')

## Read Results

In [ ]:
import pandas as pd

In [ ]:
agg_pandas = pd.read_parquet('temp_pandas.parquet')
agg_polars = pd.read_parquet('temp_polars.parquet')
agg_spark = pd.read_parquet('temp_spark.parquet')
agg_dask = pd.read_parquet('temp_dask.parquet')

In [ ]:
agg_pandas.shape, agg_polars.shape, agg_spark.shape, agg_dask.shape

((26, 8), (122, 8), (122, 8), (26, 8))

In [ ]:
agg_pandas.sort_values(['Airline','Year']).head()

                       Airline  Year DepDelayMinutes                      \
                                                mean         sum     max
0  Air Wisconsin Airlines Corp  2019       16.868511   1742281.0  1690.0
1         Alaska Airlines Inc.  2019        9.836041   2576246.0  1117.0
2                Allegiant Air  2019       14.678433   1536876.0  1979.0
3       American Airlines Inc.  2019       14.895515  13814816.0  2315.0
4  Capital Cargo International  2019       11.525332   1367642.0  1182.0

  ArrDelayMinutes
             mean         sum     max
0       17.610384   1811545.0  1707.0
1       10.787284   2815643.0  1087.0
2       15.556524   1624770.0  1966.0
3       15.251863  14096412.0  2350.0
4       12.489465   1474806.0  1190.0

In [ ]:
agg_polars.sort_values(['Airline','Year']).head()

,Airline,Year,avg_dep_delay,sum_dep_delay,max_dep_delay,avg_arr_delay,sum_arr_delay,max_arr_delay
28,Air Wisconsin Airlines Corp,2018,16.753459,1606774.0,1296.0,17.881934,1708887.0,1292.0
54,Air Wisconsin Airlines Corp,2019,16.868511,1742281.0,1690.0,17.610384,1811545.0,1707.0
106,Air Wisconsin Airlines Corp,2020,8.583725,433315.0,1460.0,8.982529,452450.0,1439.0
6,Air Wisconsin Airlines Corp,2021,16.553045,1290194.0,1421.0,17.327440,1346602.0,1416.0
67,Air Wisconsin Airlines Corp,2022,13.124801,510581.0,1355.0,13.340409,517261.0,1353.0

In [ ]:
agg_spark.sort_values(['Airline','Year']).head()

,Airline,Year,avg_arr_delay,sum_arr_delay,max_arr_delay,avg_dep_delay,sum_dep_delay,max_dep_delay
0,Air Wisconsin Airlines Corp,2018,17.881934,1708887.0,1292.0,16.753459,1606774.0,1296.0
48,Air Wisconsin Airlines Corp,2019,17.610384,1811545.0,1707.0,16.868511,1742281.0,1690.0
56,Air Wisconsin Airlines Corp,2020,8.982529,452450.0,1439.0,8.583725,433315.0,1460.0
93,Air Wisconsin Airlines Corp,2021,17.327440,1346602.0,1416.0,16.553045,1290194.0,1421.0
119,Air Wisconsin Airlines Corp,2022,13.340409,517261.0,1353.0,13.124801,510581.0,1355.0

In [ ]:
agg_dask.sort_values(['Airline','Year']).head()

                       Airline  Year DepDelayMinutes                      \
                                                mean         sum     max
0  Air Wisconsin Airlines Corp  2019       16.868511   1742281.0  1690.0
1         Alaska Airlines Inc.  2019        9.836041   2576246.0  1117.0
2                Allegiant Air  2019       14.678433   1536876.0  1979.0
3       American Airlines Inc.  2019       14.895515  13814816.0  2315.0
4  Capital Cargo International  2019       11.525332   1367642.0  1182.0

  ArrDelayMinutes
             mean         sum     max
0       17.610384   1811545.0  1707.0
1       10.787284   2815643.0  1087.0
2       15.556524   1624770.0  1966.0
3       15.251863  14096412.0  2350.0
4       12.489465   1474806.0  1190.0